<h1>Stimulus on Rails</h1>
<h2>Qual é o meu endereço?</h2>

<%= form_tag nil, method: "GET" do %>
  <%= select_tag :format, options_for_select(["html", "json"], "html") %>
  <%= text_field_tag :zip_code, nil, placeholder: "Digite seu CEP" %>

  <%= submit_tag "Buscar endereço" %>
<% end %>

<div id="loading">
  <%#= image_tag("loading.gif", width: 50) %>
</div>
<div id="response"></div>
